.blog-container {
  margin-bottom: 3rem;
}
.blog__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog1-img {
  width: 450px;
  height: 450px;
  margin-top: 3rem;
  margin-right: 2rem;
}
.blog2-img {
  width: 450px;
  height: 450px;
  margin-top: 3rem;
  margin-left: 2rem;
}
.blog-text {
  color: white;
  margin: 6rem 5rem 0 5rem;
}
