.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.services-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 800;
  font-style: italic;
  color: yellowgreen;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-family: "My Soul", cursive;
}

@media only screen and (max-width: 576px) {
  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 576px) and (max-width: 780px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .services-title {
    width: 100%;
  }
}
